* text=auto eol=lf

*.py text
*.md text
*.xml text
*.json text
*.yaml text
*.yml text

*.stl binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.npy binary
*.npz binary
*.onnx binary